li {
  color: black;
}
.logo {
  height: 3rem;
  width: 3rem;
  border: solid black 1px;

}
.sidebar {
  background-color: darkgray;
  height: 100vh;
}

.header-text {
  display:flex;
  flex-direction:column;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.muitheme-card {
  margin: 20px;
}
